body {
  background-color: khaki;
}

.container {
  background-color: white;
  border-radius: 5%;
  padding: 3% 3%;
  margin: 0 10%;
}

.confirmation {
  text-align: center;
}

.main-heading {
  text-align: center;
}

.section {
  margin-bottom: 5%;
}

.submission {
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
}

div input {
  margin: 1% 0;
}
