/* Tag selector Start */

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat-Bold';
  font-size: 3rem;
  line-height: 1.3;
  font-weight: bold;
}

body {
  font-family: 'Montserrat-Black', sans-serif;
}

/* Tag selector End */

/* Id Styling Start */
#dog-image {
  transform: rotate(30deg);
  width: 60%;
}

#title {
  background-color: #ff4c68;
}

/* Id Styling End */

/* Class Styling Start */

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.4rem;
  font-family: 'Montserrat-Light';
}

.navbar-brand a {
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
  font-size: 2.5rem;
  text-transform: lowercase;
}

.row h1 {
  color: white;
}

.download-button {
  margin: 5% 3% 10% 0;
}

.box {
  /* margin: auto; */
}

.box h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.4rem;
}

.box p {
  /* text-align: inline-block; */
  color: #8f8f8f;
}

.box {
  padding: 10% 5%;
  text-align: center;
}

.fas {
  font-size: 5rem;
  color: pink;
  margin-bottom: 1rem;
}

.fas:hover {
  color: orange;
}

.review-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Reviews section */

#reviews {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.carousel-item {
  padding: 7% 14%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Class Styling End */
