/* Tag selector Start */

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  font-size: 3rem;
  line-height: 1.5;
}

/* Tag selector Ejd */

/* Id Styling Start */
#dog-image {
  transform: rotate(30deg);
  width: 50%;
  height: 100%;
  position: relative;
  left: 10%;
}

#title {
  background-color: #ff4c68;
}

/* Id Styling End */

/* Class Styling Start */

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  margin-bottom: 50px;
}

.nav-link {
  font-size: 1.5rem;
}

.navbar-brand a {
  color: white;
}

.navbar-brand {
  font-size: 3rem;
  text-transform: lowercase;
}

.row h1 {
  color: white;
}

.col-image {
  position: absolute;
}

.btn {
  margin-right: 10px;
}

/* Class Styling End */
